Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

fixing pre-commit suggestions
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

Adding niwrap
  CPAC/info.py
  requirements.txt
Owners: @FCP-INDI/developers

:goal_net: Fall back on workflow name, then empty string if no "subject_id" in `cfg`
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:bug: Set subject ID for longitudinal workflow
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
Owners: @FCP-INDI/developers

:package: Disable variant image builds
  .github/stage_requirements/phase_three.txt
  .github/workflows/build_and_test.yml
  CHANGELOG.md
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:goal_net: Fall back on workflow name, then empty string if no "subject_id" in `cfg`
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:package: Disable variant image builds
  .github/workflows/build_and_test.yml
  CHANGELOG.md
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:bug: Pass `get` method through from `Configuration.dict()`
  CPAC/utils/configuration/configuration.py
Owners: @shnizzedy

:white_check_mark: Add tests for `Configuration.get()`
  CPAC/utils/configuration/configuration.py
Owners: @shnizzedy

:pencil2: Fix CHANGELOG merge error
  CHANGELOG.md
Owners: @FCP-INDI/developers

:bug: Set subject ID for longitudinal workflow
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
Owners: @FCP-INDI/developers

:necktie: Persist longitudinal resource pool
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:construction_worker: Streamline regtest CI flow
  .github/workflows/build_and_test.yml
  .github/workflows/on_push.yml
  .github/workflows/regression_test_full.yml
  .github/workflows/regtest.yml
Owners: @FCP-INDI/devops

:loud_sound: :alembic: Echo test mode
  .github/workflows/build_and_test.yml
Owners: @FCP-INDI/devops

:construction_worker: Update options and placeholders via pre-commit
  .github/ISSUE_TEMPLATE/1-bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/scripts/update_issue_template.py
  .pre-commit-config.yaml
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:art: Use latest as placeholder if possible, fork-friendly
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/scripts/update_issue_template.py
  .pre-commit-config.yaml
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:truck: Explicitly sort issue templates
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/ISSUE_TEMPLATE/3-neurostars.yml
  .github/ISSUE_TEMPLATE/4-project_card.yml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/scripts/update_issue_template.py
Owners: @FCP-INDI/devops

:package: Disable variant image builds
  .circleci/main.yml
  .github/stage_requirements/phase_three.txt
  .github/workflows/build_and_test.yml
  CHANGELOG.md
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:loud_sound: :alembic: Pickle rpool
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:alembic: :loud_sound: Pickle lots of rpools
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:alien: Update path matching for longitudinal
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
Owners: @FCP-INDI/developers

:alien: Only call `ingress_output_dir` if "derivatives_dir"
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
Owners: @FCP-INDI/developers

:necktie: Use longitudinal transform
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:necktie: Differentiate T1w/longitudinal space
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:bug: Iterate keys without mutating
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:alembic: Don't delete T1w key
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:recycle: Simplify outputs definition
  CPAC/seg_preproc/seg_preproc.py
Owners: @FCP-INDI/developers

:recycle: Fix broken connections in `anat_longitudinal_wf`
  CPAC/longitudinal_pipeline/longitudinal_preproc.py
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/longitudinal_pipeline/longitudinal_workflow.py.orig
  CPAC/pipeline/cpac_runner.py
  CPAC/pipeline/engine.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:bug: Fallback to config for regtool
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:bug: Include `space-longitudinal_pveseg` in `tissue_seg_fsl)fast`
  CPAC/seg_preproc/seg_preproc.py
Owners: @FCP-INDI/developers

:bug: Fix header reading for bandpass filters
  CPAC/nuisance/bandpass.py
Owners: @FCP-INDI/developers

:bug: Clone instead of rename
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
Owners: @FCP-INDI/developers

:memo: Add bandpass filter fix to CHANGELOG
  CHANGELOG.md
Owners: @FCP-INDI/developers

:construction_worker: Skip `update-yaml-comments` job in pre-commit CI
  .github/Dockerfiles/C-PAC.develop-ABCD-HCP-bionic.Dockerfile
  .github/Dockerfiles/C-PAC.develop-fMRIPrep-LTS-xenial.Dockerfile
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  .pre-commit-config.yaml
  Dockerfile
  variant-ABCD-HCP.Dockerfile
  variant-fMRIPrep-LTS.Dockerfile
  variant-lite.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:construction_worker: Merge updated `.github/scripts/autoversioning.sh` from `develop`
  .github/scripts/autoversioning.sh
Owners: @FCP-INDI/devops

:recycle: SSOT `warp_mask_to_template` decorator
  CPAC/pipeline/cpac_pipeline.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:construction: Restore `template_node` connections
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
Owners: @FCP-INDI/developers

:coffin: Remove temporary debugging code
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:coffin: Remove commented-out code
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:rewind: Revert f2da817f5
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy
