Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

:heavy_minus_sign: removed space-template_desc-T1w_mask resource from outputs and replaced with space-template_desc-brain_mask for nodeblocks requesting it
  CHANGELOG.md
  CPAC/func_preproc/func_preproc.py
  CPAC/registration/registration.py
  CPAC/resources/cpac_outputs.tsv
  CPAC/surface/surf_preproc.py
Owners: @FCP-INDI/developers

:recycle: :art: SSOT `orientation_node`
  CPAC/anat_preproc/anat_preproc.py
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/func_preproc/func_preproc.py
  CPAC/utils/configuration/configuration.py
  CPAC/utils/nifti_utils.py
Owners: @FCP-INDI/developers, @shnizzedy

:necktie: Reorient `mri_robust_template` outputs
  CPAC/longitudinal/robust_template.py
  CPAC/utils/configuration/configuration.py
  CPAC/utils/nifti_utils.py
Owners: @FCP-INDI/developers, @shnizzedy

:heavy_minus_sign: removed extra unused outputs from the list
  CHANGELOG.md
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

:art: Combine `get_cpac_provenance` + `check_prov_for_regtool` → `reg_tool`
  CPAC/alff/alff.py
  CPAC/func_preproc/func_motion.py
  CPAC/longitudinal/wf/anat.py
  CPAC/nuisance/nuisance.py
  CPAC/pipeline/engine.py
  CPAC/registration/registration.py
  CPAC/seg_preproc/seg_preproc.py
  CPAC/utils/utils.py
  CPAC/vmhc/vmhc.py
Owners: @FCP-INDI/developers

:recycle: Refactor `ANTs_registration_connector` to make DRYer
  CPAC/registration/longitudinal.py
  CPAC/registration/registration.py
  CPAC/registration/utils.py
Owners: @FCP-INDI/developers

:construction_worker: :wrench: Add GH Actions to Dependabot config
  .github/dependabot.yaml
Owners: @FCP-INDI/devops

:construction_worker: :arrow_down: Keep Python < 3.12 for OSF datalad tests
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:construction_worker: :alien: Update git-annex installation
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:construction_worker: Install datalad via conda instead of neurodebian
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:wrench: Configure dependabot
  .github/dependabot.yaml
Owners: @FCP-INDI/devops

Update CHANGELOG.md
  CHANGELOG.md
Owners: @FCP-INDI/developers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @FCP-INDI/developers

:recycle: Connect ANTs methods for longitudinal registration
  CPAC/alff/alff.py
  CPAC/longitudinal/wf/anat.py
  CPAC/pipeline/nodeblock.py
  CPAC/registration/longitudinal.py
  CPAC/registration/registration.py
  CPAC/registration/utils.py
  CPAC/seg_preproc/seg_preproc.py
  CPAC/vmhc/vmhc.py
Owners: @FCP-INDI/developers

:truck: Move `transform_derivative` into `registration.utils`
  CPAC/pipeline/engine.py
  CPAC/registration/registration.py
  CPAC/registration/utils.py
Owners: @FCP-INDI/developers

📝 updated the changelog
  CHANGELOG.md
  CPAC/func_preproc/func_preproc.py
Owners: @FCP-INDI/developers

:necktie: Rewire ANTs registration + `mri_robust_template`
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/utils.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/registration/registration.py
  CPAC/registration/utils.py
Owners: @FCP-INDI/developers

Checking if overwrite transform method is same as the anatomical registration method
  CPAC/error_handler/__init__.py
  CPAC/error_handler/exceptions.py
  CPAC/pipeline/schema.py
  CPAC/pipeline/test/test_schema_validation.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

with precommit changes
  CPAC/error_handler/exceptions.py
  CPAC/pipeline/schema.py
  CPAC/pipeline/test/test_schema_validation.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

Revert "Removed the erroneous connection that can sometimes lead to dropping TRs unnecessarily."
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

🔨 Fixing check for SpikeRegression
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

Removed the erroneous connection that can sometimes lead to dropping TRs unnecessarily.
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

Updated the CHANGELOG.
  CHANGELOG.md
Owners: @FCP-INDI/developers

🚚 Moving find_censors into its own function and subworkflow
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

:necktie: Update ANTs symmetric registration for longitudinal preprocessing
  CPAC/longitudinal/robust_template.py
  CPAC/longitudinal/wf/anat.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/nodeblock.py
  CPAC/registration/longitudinal.py
  CPAC/registration/registration.py
  CPAC/registration/utils.py
  CPAC/utils/interfaces/function/function.py
Owners: @FCP-INDI/developers

🔨 Added output connection for the censor_file_path that was missing in last commit and updated CHANGELOG
  CHANGELOG.md
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

added missing tab that caused the crash in ci
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

:truck: Longutudinal ↔ symtemplate to subject-level anat directory
  CPAC/longitudinal/wf/utils.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:arrow_up: Bump cryptography from 42.0.3 to 44.0.1
  requirements.txt
Owners: @FCP-INDI/developers

:white_check_mark: Update test and signature re: docstring updates
  CPAC/pipeline/engine.py
  CPAC/utils/interfaces/function/function.py
Owners: @FCP-INDI/developers

:construction: WIP :recycle: :necktie: Refactor FSL registration for longitudinal
  CPAC/registration/registration.py
  CPAC/registration/utils.py
Owners: @FCP-INDI/developers

:bug: Restore outputs removed from "freesurfer_abcd_preproc" to "freesurfer_reconall"
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

:alien: Replace broken setup-conda action
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:loud_sound: Increase logging for `datalad clone`
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:construction_worker: Install `git-annex` before `datalad-osf`
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:truck: Move automated regtest working directory
  .github/workflows/regtest.yaml
Owners: @FCP-INDI/devops

Offending timepoints call should only happen before nuisance for spike regression.
  CPAC/nuisance/nuisance.py
  CPAC/nuisance/utils/utils.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/schema.py
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/test/test_schema_validation.py
  CPAC/pipeline/test/test_schema_validation.py
Owners: @FCP-INDI/developers

Update CPAC/registration/registration.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy
