Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

:test_tube: Add (single) smoke test for abcd-options to unit tests
  CPAC/pipeline/cpac_runner.py
  CPAC/pipeline/test/test_connect_pipeline.py
Owners: @FCP-INDI/developers

:necktie: Transform template-space mask to bold mask
  CPAC/func_preproc/func_preproc.py
Owners: @FCP-INDI/developers

:white_check_mark: Set paths in pipeline config for smoke test
  CPAC/pipeline/test/test_connect_pipeline.py
Owners: @FCP-INDI/developers

:necktie: Create `space-bold_desc-brain_mask` at nuisance generation if missing
  CPAC/func_preproc/func_preproc.py
  CPAC/nuisance/nuisance.py
  CPAC/nuisance/utils/xfm.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

desc-ABCDpreproc_t1w added to outputs
  CPAC/resources/cpac_outputs.tsv
Owners: @FCP-INDI/developers

adding to changelog
  CHANGELOG.md
Owners: @FCP-INDI/developers

implementing importlib.resources
  CPAC/utils/datasource.py
Owners: @FCP-INDI/developers

:necktie: Include `desc-reorient_bold` in nuisiance generation
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

:pencil2: :wrench: Fix path to `MNI152_T1_1mm_first_brain_mask`
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_ccs-options.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

:recycle: Use `importlib.resources.files` instead of `__file__`
  CPAC/cwas/tests/test_mdmr_cython.py
  CPAC/info.py
  CPAC/network_centrality/tests/test_network_centrality.py
  CPAC/resources/configs/__init__.py
  CPAC/resources/templates/lookup_table.py
  CPAC/utils/datasource.py
  CPAC/utils/interfaces/conftest.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: Use `importlib.resources.files` instead of `pkg_resources`
  .ruff.toml
  CPAC/__main__.py
  CPAC/_entrypoints/run.py
  CPAC/anat_preproc/ants.py
  CPAC/pipeline/__init__.py
  CPAC/pipeline/cpac_runner.py
  CPAC/pipeline/test/test_cpac_runner.py
  CPAC/qc/pipeline.py
  CPAC/qc/utils.py
  CPAC/surface/tests/test_config.py
  CPAC/utils/build_data_config.py
  CPAC/utils/configuration/configuration.py
  CPAC/utils/symlinks.py
  CPAC/utils/tests/test_symlinks.py
  CPAC/utils/tests/test_trimmer.py
Owners: @FCP-INDI/developers, @shnizzedy

:memo: Add `importlib.resources` upgrade to CHANGELOG
  CHANGELOG.md
Owners: @FCP-INDI/developers

:recycle: DRY CONFIGS_PATH
  CPAC/__main__.py
  CPAC/_entrypoints/run.py
  CPAC/pipeline/__init__.py
  CPAC/pipeline/cpac_runner.py
  CPAC/pipeline/test/test_cpac_runner.py
  CPAC/resources/configs/__init__.py
  CPAC/surface/tests/test_config.py
  CPAC/utils/build_data_config.py
  CPAC/utils/configuration/configuration.py
  CPAC/utils/tests/test_trimmer.py
Owners: @FCP-INDI/developers, @shnizzedy

adding subject_id to config
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
Owners: @FCP-INDI/developers

:pencil2: Remove extra `/`
  CPAC/utils/configuration/configuration.py
Owners: @shnizzedy

fixup! :necktie: Include `desc-reorient_bold` in nuisiance generation
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

:bug: Use sbref for reference
  CPAC/nuisance/nuisance.py
  CPAC/nuisance/utils/xfm.py
Owners: @FCP-INDI/developers

:recycle: Make more robust against timezone awareness differences
  CPAC/utils/monitoring/draw_gantt_chart.py
  CPAC/utils/monitoring/monitoring.py
  CPAC/utils/tests/test_utils.py
Owners: @FCP-INDI/developers

:white_check_mark: Test `sync_tz`
  CPAC/utils/tests/test_utils.py
Owners: @FCP-INDI/developers

:fire: Remove stray comment
  CPAC/nuisance/utils/xfm.py
Owners: @FCP-INDI/developers

fixing ants.py for missing pkgr_fn
  CPAC/anat_preproc/ants.py
Owners: @FCP-INDI/developers

changed schemable to schema
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

str file-path instead of as_file
  CPAC/anat_preproc/ants.py
Owners: @FCP-INDI/developers

removing desc-head_T1w from brain_extraction
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

converting fs-fsl-tight/loose masks into generic ones
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

adding unit-tests
  CPAC/anat_preproc/tests/test_anat_preproc.py
Owners: @FCP-INDI/developers

added to changelog
  CHANGELOG.md
Owners: @FCP-INDI/developers

removing the final brain mask to native node
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

:pencil2: Correct method call name
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:rewind: Restore / modify motion_estimation_timing config options
  CHANGELOG.md
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

:necktie: Restore estimate before/after stc logic
  CPAC/func_preproc/func_motion.py
  CPAC/func_preproc/pipeline.py
  CPAC/func_preproc/tests/test_preproc_connections.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/nodeblock.py
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

:bug: De-listify estimate + filter in stack
  CPAC/func_preproc/func_motion.py
Owners: @FCP-INDI/developers

:package: Add init for func_preproc tests
  CPAC/func_preproc/tests/__init__.py
Owners: @FCP-INDI/developers

:alembic: Keep despiking and stc together vis-à-vis motion calculation
  CHANGELOG.md
  CPAC/func_preproc/func_motion.py
  CPAC/func_preproc/tests/test_preproc_connections.py
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/utils/strategy.py
Owners: @FCP-INDI/developers

:rewind: Revert #2204
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
  CPAC/resources/configs/pipeline_config_benchmark-ANTS.yml
  CPAC/resources/configs/pipeline_config_benchmark-FNIRT.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_ccs-options.yml
  CPAC/resources/configs/pipeline_config_default-deprecated.yml
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/resources/configs/pipeline_config_fmriprep-ingress.yml
  CPAC/resources/configs/pipeline_config_fmriprep-options.yml
  CPAC/resources/configs/pipeline_config_fx-options.yml
  CPAC/resources/configs/pipeline_config_monkey-ABCD.yml
  CPAC/resources/configs/pipeline_config_monkey.yml
  CPAC/resources/configs/pipeline_config_ndmg.yml
  CPAC/resources/configs/pipeline_config_rbc-options.yml
  CPAC/resources/configs/pipeline_config_regtest-1.yml
  CPAC/resources/configs/pipeline_config_regtest-2.yml
  CPAC/resources/configs/pipeline_config_regtest-3.yml
  CPAC/resources/configs/pipeline_config_regtest-4.yml
  CPAC/resources/configs/pipeline_config_rodent.yml
Owners: @FCP-INDI/developers

adding to changelog
  CHANGELOG.md
  CPAC/nuisance/bandpass.py
Owners: @FCP-INDI/developers

adding a unit-test for ideal_bandpass
  CPAC/nuisance/bandpass.py
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

pre-commit run
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

Update CPAC/nuisance/tests/test_bandpass.py
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

fixing the tests
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy
