Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

:package: Restore `bids-validator` installation
  .github/Dockerfiles/Ubuntu.jammy-non-free.Dockerfile
  CHANGELOG.md
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:white_check_mark: Test subprocess call to `bids-validator`
  CPAC/utils/tests/test_bids_utils.py
Owners: @FCP-INDI/developers

:memo: Add `bids-validator` to dependencies with reported versions
  .github/Dockerfiles/Ubuntu.jammy-non-free.Dockerfile
  CPAC/utils/versioning/dependencies.py
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:pencil2: Fix repeated `.dev3`
  .github/Dockerfiles/C-PAC.develop-ABCD-HCP-bionic.Dockerfile
  .github/Dockerfiles/C-PAC.develop-fMRIPrep-LTS-xenial.Dockerfile
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  Dockerfile
  variant-ABCD-HCP.Dockerfile
  variant-fMRIPrep-LTS.Dockerfile
  variant-lite.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:construction_worker: Skip pre-commit CI
  .github/Dockerfiles/C-PAC.develop-ABCD-HCP-bionic.Dockerfile
  .github/Dockerfiles/C-PAC.develop-fMRIPrep-LTS-xenial.Dockerfile
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  .pre-commit-config.yaml
  Dockerfile
  variant-ABCD-HCP.Dockerfile
  variant-fMRIPrep-LTS.Dockerfile
  variant-lite.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:pencil2: Fix repeated `.dev3`
  .github/Dockerfiles/C-PAC.develop-ABCD-HCP-bionic.Dockerfile
  .github/Dockerfiles/C-PAC.develop-fMRIPrep-LTS-xenial.Dockerfile
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  Dockerfile
  variant-ABCD-HCP.Dockerfile
  variant-fMRIPrep-LTS.Dockerfile
  variant-lite.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:heavy_plus_sign: Install `csh` if we have FreeSurfer
  .github/Dockerfiles/base-standard.Dockerfile
Owners: @FCP-INDI/devops

:art: Hardlink TENEX C Shell as C Shell
  .github/Dockerfiles/base-standard.Dockerfile
Owners: @FCP-INDI/devops

:package: Symlink `libcrypt.so.1` → `libcrypt.so.2`
  .github/Dockerfiles/base-standard.Dockerfile
Owners: @FCP-INDI/devops

:bug: Import IFLOGGER in Function Node
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:sparkles: Add inventory utility
  CPAC/pipeline/engine.py
  CPAC/pipeline/resource_inventory.py
  CPAC/utils/outputs.py
  setup.py
Owners: @FCP-INDI/developers

:bug: Fix resource name: `unet_model` → `unet-model`
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

:children_crossing: Add CLI for resource inventory
  CPAC/pipeline/resource_inventory.py
Owners: @FCP-INDI/developers

:children_crossing: Rename `resource_inventory` CLI command
  setup.py
Owners: @FCP-INDI/developers

:children_crossing: Specify default in helpstring
  CPAC/pipeline/resource_inventory.py
Owners: @FCP-INDI/developers

:zap: Don't install torch just to look for NodeBlockFunctions
  CPAC/pipeline/resource_inventory.py
Owners: @FCP-INDI/developers

:memo: Add `resource_inventory` to CHANGELOG
  CHANGELOG.md
Owners: @FCP-INDI/developers

:sparkles: Pick up more hard-coded resources
  CPAC/pipeline/resource_inventory.py
Owners: @FCP-INDI/developers

:necktie: Match keys and values for assignment loops
  CPAC/pipeline/resource_inventory.py
Owners: @FCP-INDI/developers

:necktie: Include func def args in context
  CPAC/pipeline/resource_inventory.py
Owners: @FCP-INDI/developers

:children_crossing: Exclude dummy node from inventory
  CPAC/pipeline/resource_inventory.py
Owners: @FCP-INDI/developers

:necktie: Handle some special cases
  CPAC/pipeline/engine.py
  CPAC/pipeline/resource_inventory.py
Owners: @FCP-INDI/developers

:children_crossing: Include resource soure information in resource-not-found errors
  CHANGELOG.md
  CPAC/pipeline/engine.py
  CPAC/pipeline/resource_inventory.py
Owners: @FCP-INDI/developers

:white_check_mark: Add test for resource inventory error message
  CPAC/_entrypoints/run.py
  CPAC/conftest.py
  CPAC/pipeline/resource_inventory.py
  CPAC/pipeline/test/test_engine.py
Owners: @FCP-INDI/developers

:recycle: Move bids_examples into a reusable pyest fixture
  CPAC/conftest.py
  dev/circleci_data/conftest.py
  dev/circleci_data/test_external_utils.py
Owners: @FCP-INDI/developers, @FCP-INDI/devops

:construction_worker: Install `openssh-client` for bids-examples fixture
  .circleci/main.yml
Owners: @FCP-INDI/devops

:children_crossing: Increase indent before missing resource sources
  CPAC/pipeline/resource_inventory.py
Owners: @FCP-INDI/developers

:recycle: SSOT `register_{symmetric_?}FSL_anat_to_template`
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:recycle: Resequence registration (longitudinal before T1w)
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

🚚 ref_mask_res-2 and T1w_template_res-2 fields are moved out of registration and into surface.
  CHANGELOG.md
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/cpac_templates.csv
Owners: @FCP-INDI/developers

🚚 moving ref_mask_res-2 and T1w_template_res-2 from default and fmriprep-options config too
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/resources/configs/pipeline_config_fmriprep-options.yml
Owners: @FCP-INDI/developers

🦺 pushing with pre-commit
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
Owners: @FCP-INDI/developers

🔨 adding f in fstring
  CPAC/connectome/connectivity_matrix.py
Owners: @FCP-INDI/developers

Updates to longitudinal wf
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:bug: bugfix longitudinal pipeline
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/registration/registration.py
  CPAC/seg_preproc/seg_preproc.py
Owners: @FCP-INDI/developers

:label: Create `TypeAlias NODEBLOCK_RETURN`
  CPAC/pipeline/nodeblock.py
Owners: @FCP-INDI/developers

:truck: Split longitudinal workflow module into wf.anat and wf.func modules
  CPAC/longitudinal/__init__.py
  CPAC/longitudinal/preproc.py
  CPAC/longitudinal/wf/__init__.py
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/func.py
  CPAC/longitudinal/wf/utils.py
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/cpac_runner.py
Owners: @FCP-INDI/developers

:necktie: Use `max_iter` parameter for longitudinal template generation.
  CHANGELOG.md
  CPAC/longitudinal/preproc.py
  CPAC/longitudinal/wf/anat.py
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

♻️ Generalizing desc-ref_bold to desc-unifize_bold and fMRIprep style bold masking
  CPAC/func_preproc/func_preproc.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:bug: Fix workflow selection
  CPAC/longitudinal/wf/anat.py
Owners: @FCP-INDI/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy
