Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

Optimized cosine filter and added Doc strings
  CPAC/nuisance/utils/compcor.py
Owners: @FCP-INDI/developers

Optimized cosine filter and added Doc strings
  CPAC/nuisance/utils/compcor.py
  CPAC/resources/configs/pipeline_config_blank.yml
Owners: @FCP-INDI/developers

rebasing to develop
  CPAC/resources/configs/pipeline_config_blank.yml
Owners: @FCP-INDI/developers

:construction_worker: Reenable autoversioning; disable ruff
  .pre-commit-config.yaml
Owners: @FCP-INDI/developers

:memo: Add pre-commit.ci badge to README
  CHANGELOG.md
  README.md
Owners: @FCP-INDI/developers

fix duplicate commit
  CPAC/nuisance/utils/compcor.py
Owners: @FCP-INDI/developers

added link to the algorithm
  CPAC/nuisance/utils/compcor.py
Owners: @FCP-INDI/developers

Update CPAC/nuisance/utils/compcor.py
  CPAC/nuisance/utils/compcor.py
Owners: @FCP-INDI/developers

corrected docs and implemented for different axis values
  CPAC/nuisance/utils/compcor.py
Owners: @FCP-INDI/developers

:memo: Update `FROM` base from `default` to `blank`
  CPAC/utils/configuration/configuration.py
Owners: @shnizzedy

Updates to longitudinal wf
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:necktie: Use regex to not override existing YAML type declarations
  CPAC/utils/bids_utils.py
  CPAC/utils/tests/configs/github_2144.yml
Owners: @FCP-INDI/developers

:loud_sound: Add data config `str` casting to CHANGELOG
  CHANGELOG.md
Owners: @FCP-INDI/developers

:recycle: Use YAML tags instead of unsafe loader
  CPAC/utils/bids_utils.py
  CPAC/utils/tests/test_bids_utils.py
Owners: @FCP-INDI/developers

:children_crossing: Coerce ints in data config sub- and ses- values to strings
  CPAC/utils/bids_utils.py
  CPAC/utils/tests/configs/__init__.py
  CPAC/utils/tests/configs/github_2144.yml
  CPAC/utils/tests/test_bids_utils.py
Owners: @FCP-INDI/developers

:white_check_mark: Fix `Traversable` import for minimum Python version
  CPAC/utils/tests/configs/__init__.py
Owners: @FCP-INDI/developers

:bug: Fix header reading for bandpass filters
  CPAC/nuisance/bandpass.py
Owners: @FCP-INDI/developers

:bug: Fix header reading for bandpass filters
  CPAC/nuisance/bandpass.py
Owners: @FCP-INDI/developers

:bug: Fix header reading for bandpass filters
  CPAC/nuisance/bandpass.py
Owners: @FCP-INDI/developers

moving remove_mean check out of the loop to avoid accidental overwriting of X
  CPAC/nuisance/utils/compcor.py
Owners: @FCP-INDI/developers

:white_check_mark: Add unit test for reading bandpass 1D file
  CPAC/nuisance/bandpass.py
  CPAC/nuisance/tests/regressors.1D
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

:alien: Import `Traversable` from `importlib.abc` for older Python compatibility
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

:memo: Add bandpass header fix to CHANGELOG
  CHANGELOG.md
Owners: @FCP-INDI/developers

:bug: Replace empty-string `shell` with path to executable shell
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  CHANGELOG.md
  CPAC/pipeline/cpac_runner.py
  CPAC/pipeline/test/test_cpac_runner.py
  CPAC/pipeline/utils.py
  Dockerfile
  variant-lite.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:white_check_mark: Make sure default shell in container is BASH
  CPAC/pipeline/test/test_cpac_runner.py
Owners: @FCP-INDI/developers

replaced RPI to take in config value in few more places
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/func_preproc/func_preproc.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/engine.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/utils.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

empty
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

adding cfg as parameter in lesion_preproc
  CHANGELOG.md
  CPAC/anat_preproc/lesion_preproc.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/engine.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/utils.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

moved orientation check and reorient if necessary to the wf
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

handle for read-only template files
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

fixed positions of args in lesion_preproc and added default RPI
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/registration/registration.py
  CPAC/registration/tests/test_registration.py
Owners: @FCP-INDI/developers

reverting adding reorient node at the very begining and passing orientation set in config in the existing nodes for reorientations
  CPAC/anat_preproc/anat_preproc.py
  CPAC/func_preproc/func_preproc.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/utils.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

updated tests
  CPAC/pipeline/test/test_engine.py
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/utils.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

updated the changelog
  CHANGELOG.md
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy
