Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy

adding a unit-test for ideal_bandpass
  CPAC/nuisance/bandpass.py
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

pre-commit run
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

:bug: Fix dvars_after connection
  CPAC/qc/xcp.py
Owners: @FCP-INDI/developers

:wastebasket: Deprecate "motion_estimates" config option
  CHANGELOG.md
  CPAC/func_preproc/func_motion.py
  CPAC/func_preproc/tests/test_preproc_connections.py
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/resources/configs/pipeline_config_fmriprep-options.yml
  CPAC/resources/configs/pipeline_config_regtest-3.yml
  CPAC/resources/configs/pipeline_config_regtest-4.yml
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:pencil2: Fix schema imports
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

:arrow_up: Upgrade `voluptuous`@0.15.2
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Owners: @FCP-INDI/developers

:white_check_mark: Test `Deprecated` schema option
  CPAC/pipeline/test/test_schema_validation.py
Owners: @FCP-INDI/developers

:bug: Motion after mask
  CPAC/func_preproc/func_motion.py
Owners: @FCP-INDI/developers

:bug: Remove extra inputs
  CPAC/func_preproc/func_motion.py
Owners: @FCP-INDI/developers

:necktie: Resequence motion
  CPAC/func_preproc/func_motion.py
Owners: @FCP-INDI/developers

:white_check_mark: Update `test_NodeBlock_option_SSOT`
  CPAC/func_preproc/func_motion.py
  CPAC/utils/tests/test_utils.py
Owners: @FCP-INDI/developers

fixup! :necktie: Resequence motion
  CPAC/func_preproc/func_motion.py
Owners: @FCP-INDI/developers

fixup! fixup! :necktie: Resequence motion
  CPAC/func_preproc/func_motion.py
Owners: @FCP-INDI/developers

:arrow_up: Upgrade `requests` 2.32.0 → 2.32.3
  CHANGELOG.md
  dev/docker_data/unpinned_requirements.txt
  requirements.txt
Owners: @FCP-INDI/developers, @FCP-INDI/devops

adding native transforms (.mat files) to outputs
  CPAC/pipeline/schema.py
  CPAC/registration/registration.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/resources/cpac_outputs.tsv
Owners: @FCP-INDI/developers

adding to the changelog
  CHANGELOG.md
  CPAC/registration/registration.py
  CPAC/resources/cpac_outputs.tsv
Owners: @FCP-INDI/developers

adding tests for the registration connectors for added outputs
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Owners: @FCP-INDI/developers

fixing imports in the test
  CPAC/registration/tests/test_ants_registration_connector.py
Owners: @FCP-INDI/developers

fixed imports
  CPAC/registration/tests/test_ants_registration_connector.py
Owners: @FCP-INDI/developers

rewriting the tests for registration connector
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Owners: @FCP-INDI/developers

rewriting the tests for registration connector
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Owners: @FCP-INDI/developers

cfg changes for pytest
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Owners: @FCP-INDI/developers

renamed linear_xfm to flirt_xfm and updated the tests
  CPAC/pipeline/nipype_pipeline_engine/engine.py
  CPAC/registration/registration.py
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Owners: @FCP-INDI/developers

Update CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_ants_registration_connector.py
Owners: @FCP-INDI/developers

Update CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_ants_registration_connector.py
Owners: @FCP-INDI/developers

Update CPAC/registration/tests/test_fsl_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Owners: @FCP-INDI/developers

Update CPAC/registration/tests/test_fsl_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
Owners: @FCP-INDI/developers

updating the output names and unit tests
  CPAC/registration/registration.py
  CPAC/registration/tests/test_ants_registration_connector.py
  CPAC/registration/tests/test_fsl_registration_connector.py
  CPAC/resources/cpac_outputs.tsv
  CPAC/utils/tests/test_utils.py
Owners: @FCP-INDI/developers

fixup! fixup! fixup! :necktie: Resequence motion
  CPAC/func_preproc/func_motion.py
Owners: @FCP-INDI/developers

afni
  .github/Dockerfiles/AFNI.25.1.08-jammy.Dockerfile
  .github/stage_requirements/lite.txt
  .github/stage_requirements/phase_two.txt
Owners: @FCP-INDI/devops

afni
  dev/docker_data/checksum/AFNI.23.3.09.sha384
  dev/docker_data/checksum/AFNI.25.1.08.sha384
Owners: @FCP-INDI/devops

upgrading AFNI to latest version
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Owners: @FCP-INDI/devops

replacing 3drefit with 3dwarp in func deoblique
  CPAC/func_preproc/func_preproc.py
  CPAC/utils/utils.py
  dev/docker_data/required_afni_pkgs.txt
Owners: @FCP-INDI/developers, @FCP-INDI/devops

keeping afni packages
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Owners: @FCP-INDI/devops

replacing 3drefit with 3dwarp in anat deoblique
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

afni
  .github/Dockerfiles/AFNI.25.1.08-jammy.Dockerfile
Owners: @FCP-INDI/devops

afni
  .github/Dockerfiles/base-lite.Dockerfile
Owners: @FCP-INDI/devops

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
  .github/stage_requirements/lite.txt
  .github/stage_requirements/phase_two.txt
Owners: @FCP-INDI/devops

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  dev/docker_data/checksum/AFNI.23.3.09.sha384
  dev/docker_data/checksum/AFNI.25.1.08.sha384
Owners: @FCP-INDI/devops

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Owners: @FCP-INDI/devops
