Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

:memo: Update XCP-QC docstring
  CPAC/qc/xcp.py
Owners: @FCP-INDI/developers

:passport_control: Give CI GHCR push permission
  .github/workflows/build_and_test.yml
Owners: @FCP-INDI/devops

:coffin: Remove stale variants
  .circleci/main.yml
  .github/Dockerfiles/AFNI.16.2.07.neurodocker-xenial.Dockerfile
  .github/Dockerfiles/AFNI.21.1.00-bionic.Dockerfile
  .github/Dockerfiles/ANTs.2.2.0.neurodocker-bionic.Dockerfile
  .github/Dockerfiles/ANTs.2.3.4.neurodocker-xenial.Dockerfile
  .github/Dockerfiles/C-PAC.develop-ABCD-HCP-bionic.Dockerfile
  .github/Dockerfiles/C-PAC.develop-fMRIPrep-LTS-xenial.Dockerfile
  .github/Dockerfiles/FSL.5.0.10-bionic.Dockerfile
  .github/Dockerfiles/FSL.5.0.9-5.neurodebian-xenial.Dockerfile
  .github/Dockerfiles/FreeSurfer.6.0.0-min.neurodocker-bionic.Dockerfile
  .github/Dockerfiles/FreeSurfer.6.0.1-min-xenial.Dockerfile
  .github/Dockerfiles/FreeSurfer.6.0.1-xenial.Dockerfile
  .github/Dockerfiles/ICA-AROMA.0.4.3-beta-bionic.Dockerfile
  .github/Dockerfiles/ICA-AROMA.0.4.5-xenial.Dockerfile
  .github/Dockerfiles/Ubuntu.bionic-non-free.Dockerfile
  .github/Dockerfiles/Ubuntu.xenial-20200114.Dockerfile
  .github/Dockerfiles/base-ABCD-HCP.Dockerfile
  .github/Dockerfiles/base-fMRIPrep-LTS.Dockerfile
  .github/Dockerfiles/c3d.1.0.0-bionic.Dockerfile
  .github/Dockerfiles/c3d.1.0.0-xenial.Dockerfile
  .github/Dockerfiles/connectome-workbench.1.3.2-1.neurodebian-bionic.Dockerfile
  .github/Dockerfiles/connectome-workbench.1.3.2-2.neurodebian-xenial.Dockerfile
  .github/Dockerfiles/msm.2.0-bionic.Dockerfile
  .github/README/README.md
  .github/scripts/autoversioning.sh
  .github/stage_requirements/ABCD-HCP.txt
  .github/stage_requirements/fMRIPrep-LTS.txt
  .github/stage_requirements/phase_one.txt
  .github/stage_requirements/phase_three.txt
  .github/stage_requirements/phase_two.txt
  .github/workflows/build_C-PAC.yml
  .github/workflows/build_and_test.yml
  .github/workflows/delete_images.yml
  .github/workflows/smoke_test_participant.yml
  CONTRIBUTING.md
  variant-ABCD-HCP.Dockerfile
  variant-fMRIPrep-LTS.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:rotating_light: Lint changed files
  CPAC/pipeline/nipype_pipeline_engine/engine.py
  CPAC/pipeline/nodeblock.py
  CPAC/pipeline/utils.py
  CPAC/resources/templates/lookup_table.py
  CPAC/utils/test_init.py
Owners: @FCP-INDI/developers

:art: Remove typehint handling for Python < 3.10
  .ruff.toml
  CPAC/__main__.py
  CPAC/_entrypoints/run.py
  CPAC/alff/utils.py
  CPAC/func_preproc/tests/test_preproc_connections.py
  CPAC/generate_motion_statistics/generate_motion_statistics.py
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/network_centrality/network_centrality.py
  CPAC/network_centrality/tests/test_network_centrality.py
  CPAC/network_centrality/utils.py
  CPAC/nuisance/nuisance.py
  CPAC/pipeline/cpac_group_runner.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/nipype_pipeline_engine/engine.py
  CPAC/pipeline/nodeblock.py
  CPAC/pipeline/utils.py
  CPAC/registration/registration.py
  CPAC/resources/templates/lookup_table.py
  CPAC/utils/build_data_config.py
  CPAC/utils/configuration/configuration.py
  CPAC/utils/configuration/yaml_template.py
  CPAC/utils/datasource.py
  CPAC/utils/extract_data.py
  CPAC/utils/interfaces/conftest.py
  CPAC/utils/interfaces/function/function.py
  CPAC/utils/nifti_utils.py
  CPAC/utils/sklearn.py
  CPAC/utils/test_init.py
  CPAC/utils/typing.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers, @shnizzedy

:memo: Note removal of variant recipes in changelog
  CHANGELOG.md
Owners: @FCP-INDI/developers

:bug: Make sure `use_ants` is defined before passed as a param
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

:bookmark: Tag v1.3.0.post3.dev1
  CPAC/info.py
  Dockerfile
Owners: @FCP-INDI/developers

:goal_net: Use "RepetitionTime" for "TR" if "TR" is not present
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:package: Restore `bids-validator` installation
  .github/Dockerfiles/Ubuntu.jammy-non-free.Dockerfile
  CHANGELOG.md
Owners: @FCP-INDI/devops, @FCP-INDI/developers

implementing bids2table for anat data configuration
  CPAC/_entrypoints/run.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/cpac_runner.py
  CPAC/pipeline/engine.py
  CPAC/utils/configuration/configuration.py
  CPAC/utils/datasource.py
Owners: @FCP-INDI/developers, @shnizzedy

:white_check_mark: Test subprocess call to `bids-validator`
  CPAC/utils/tests/test_bids_utils.py
Owners: @FCP-INDI/developers

building rpool
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:memo: Add `bids-validator` to dependencies with reported versions
  .github/Dockerfiles/Ubuntu.jammy-non-free.Dockerfile
  CPAC/utils/versioning/dependencies.py
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:pushpin: :package: Pin build-system requirements
  pyproject.toml
Owners: @FCP-INDI/developers

:package: :arrow_down: Downgrade setuptools for numpy version
  pyproject.toml
  requirements.txt
Owners: @FCP-INDI/developers

:necktie: :construction_worker: Force reinstall testing package
  .github/workflows/regression_test_lite.yml
Owners: @FCP-INDI/devops

refactoring the rpool object to have subfields for easy browsing of resource
  CPAC/_entrypoints/run.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

removing unused keys from the rpool
  CPAC/_entrypoints/run.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Introduced resource object in the rpool.
  CPAC/_entrypoints/run.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Added method write_to_disk(path) to the ResourcePool and Resource class.
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

added sub- and ses- in the relative paths
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

only write .json files to .nii.gz image files
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:package: Init longitudinal pipeline
  CPAC/longitudinal_pipeline/__init__.py
Owners: @FCP-INDI/developers

:construction_worker: :arrow_up: Upgrade `git-annex-standalone` for smoke tests
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:goal_net: Handle unexpected existing working directory \& :rotating_lights: Lint
  CPAC/pipeline/cpac_runner.py
  CPAC/utils/io.py
Owners: @FCP-INDI/developers

:bug: Fix import (probably merge error)
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:bug: Import local variables in `get_scan_params`
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: Dedupe function node imports
  CPAC/utils/datasource.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:construction: WIP :bug: Fix `get_scan_params`
  CPAC/utils/tests/test_utils.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: DRY `fetch_and_convert`|`fetch`|`check`|`check2`
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:bug: Tell Nipype to import typehint type
  CPAC/alff/utils.py
Owners: @FCP-INDI/developers

:recycle: DRY params, sub, scan
  CPAC/utils/tests/test_utils.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:white_check_mark: Add tests for `fetch` refactor
  .ruff.toml
  CPAC/utils/tests/old_functions.py
  CPAC/utils/tests/test_utils.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:pencil2: Fix TR capitalization
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: Dedupe function node imports
  CPAC/utils/datasource.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:white_check_mark: Add tests for `fetch` refactor
  .ruff.toml
  CPAC/utils/tests/old_functions.py
  CPAC/utils/tests/test_utils.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: DRY `fetch_and_convert`|`fetch`|`check`|`check2`
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: DRY params, sub, scan
  CPAC/utils/tests/test_utils.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:bug: Import local variables in `get_scan_params`
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy
