Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy

:recycle: SSOT `warp_to_template`
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/registration/registration.py
  CPAC/registration/utils.py
Owners: @FCP-INDI/developers

fixup! :bug: Clone instead of rename
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/nipype_pipeline_engine/engine.py
Owners: @FCP-INDI/developers

:rotating_light: Lint in preparation for merge from
  .github/scripts/autoversioning.sh
  .pre-commit-config.yaml
  .ruff.toml
  CHANGELOG.md
  CPAC/anat_preproc/anat_preproc.py
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/func_preproc/func_preproc.py
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/schema.py
  CPAC/pipeline/test/test_engine.py
  CPAC/registration/registration.py
  CPAC/registration/tests/mocks.py
  CPAC/registration/tests/test_registration.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/resources/tests/test_templates.py
  CPAC/utils/datasource.py
  CPAC/utils/test_mocks.py
  dev/docker_data/run.py
Owners: @FCP-INDI/devops, @FCP-INDI/developers

🚚 Move entrypoint scripts into CPAC/_entrypoints in preparation for backmerge
  CPAC/_entrypoints/run-with-freesurfer.sh
  CPAC/_entrypoints/run.py
Owners: @FCP-INDI/developers

:twisted_rightwards_arrows: Merge changes from branch 'feature/check_orientations' into 'many_pipelines'
  CHANGELOG.md
  CPAC/anat_preproc/anat_preproc.py
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/func_preproc/func_preproc.py
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/schema.py
  CPAC/pipeline/test/test_engine.py
  CPAC/registration/registration.py
  CPAC/registration/tests/mocks.py
  CPAC/registration/tests/test_registration.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/tests/test_templates.py
  CPAC/utils/datasource.py
  CPAC/utils/test_mocks.py
Owners: @FCP-INDI/developers

adding f to f-string fixing typo
  CPAC/connectome/connectivity_matrix.py
Owners: @FCP-INDI/developers

changing bold to desc-reorient_bold
  CPAC/nuisance/nuisance.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:truck: `.yml` → `.yaml`
  .github/README/README.md
  .github/workflows/build_and_test.yaml
  .github/workflows/on_push.yaml
  .github/workflows/regtest.yaml
Owners: @FCP-INDI/devops

:memo: Add automated integration & regression tests to CHANGELOG
  CHANGELOG.md
Owners: @FCP-INDI/developers

:necktie: Handle connections from unconnected graphs that run separately
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/nipype_pipeline_engine/engine.py
Owners: @FCP-INDI/developers

:necktie: Clone *and* handle unconnected graphs
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/nipype_pipeline_engine/engine.py
Owners: @FCP-INDI/developers

:bug: :alien: Patch `NetCorr._list_outputs`
  CPAC/utils/interfaces/netcorr.py
Owners: @FCP-INDI/developers

:recycle: Name each preparatory graph uniquely
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
Owners: @FCP-INDI/developers

:truck: Split longitudinal into anat and func \& :rotating_light: Lint anat
  CPAC/longitudinal/__init__.py
  CPAC/longitudinal/preproc.py
  CPAC/longitudinal/wf/__init__.py
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/func.py
  CPAC/pipeline/cpac_runner.py
  CPAC/pipeline/nodeblock.py
Owners: @FCP-INDI/developers

:wrench: Update config to allow choosing `mri_robust_template` for longitudinal (new default)
  CHANGELOG.md
  CPAC/longitudinal/robust_template.py
  CPAC/longitudinal/wf/anat.py
  CPAC/pipeline/schema.py
  CPAC/resources/configs/1.7-1.8-nesting-mappings.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

:necktie: Use `max_iter` parameter for longitudinal template generation.
  CHANGELOG.md
  CPAC/longitudinal/preproc.py
  CPAC/longitudinal/wf/anat.py
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

:truck: Move files to prep for merge
  CPAC/longitudinal/__init__.py
  CPAC/longitudinal/preproc.py
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/func.py
Owners: @FCP-INDI/developers

:twisted_rightwards_arrows: Merge changes from #2160
  CPAC/longitudinal/wf/anat.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/cpac_runner.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/nipype_pipeline_engine/engine.py
  CPAC/registration/registration.py
  CPAC/registration/utils.py
  CPAC/seg_preproc/seg_preproc.py
Owners: @FCP-INDI/developers

:bug: Debug changes for longitudinal pipeline
  CPAC/longitudinal/preproc.py
  CPAC/longitudinal/wf/anat.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/nipype_pipeline_engine/engine.py
  CPAC/pipeline/test/test_engine.py
  CPAC/registration/registration.py
  CPAC/seg_preproc/seg_preproc.py
  CPAC/utils/interfaces/function/function.py
Owners: @FCP-INDI/developers

:pencil2: Fix "perged" typo in comment
  CPAC/utils/interfaces/netcorr.py
Owners: @FCP-INDI/developers

:construction: WIP :sparkles: Drop in `mri_robust_template`
  CPAC/longitudinal/robust_template.py
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/utils.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/nipype_pipeline_engine/engine.py
  CPAC/pipeline/nodeblock.py
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

:recycle: SSOT `check_creds_path`
  CPAC/anat_preproc/anat_preproc.py
  CPAC/longitudinal/robust_template.py
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/func.py
  CPAC/longitudinal/wf/utils.py
Owners: @FCP-INDI/developers

:necktie: Make cross-graph and cross-pool connections
  CPAC/longitudinal/robust_template.py
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/utils.py
  CPAC/pipeline/nipype_pipeline_engine/engine.py
  CPAC/seg_preproc/seg_preproc.py
Owners: @FCP-INDI/developers

:necktie: Convert xfms from `lta` to `mat`
  CPAC/longitudinal/preproc.py
  CPAC/longitudinal/robust_template.py
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/utils.py
  CPAC/pipeline/nipype_pipeline_engine/engine.py
Owners: @FCP-INDI/developers

:necktie: Clarify longitudinal `xfm`s vs longitudinal `warp`s
  CPAC/longitudinal/robust_template.py
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/utils.py
  CPAC/registration/registration.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: Differentiate longitudinal template images from session images in longitudinal template space
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/utils.py
  CPAC/pipeline/engine.py
  CPAC/registration/registration.py
  CPAC/resources/cpac_outputs.tsv
  CPAC/seg_preproc/seg_preproc.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:construction: :necktie: Enable subworkflow cross-graph connections
  CPAC/longitudinal/wf/anat.py
  CPAC/longitudinal/wf/utils.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
  CPAC/registration/registration.py
  CPAC/registration/utils.py
  CPAC/seg_preproc/seg_preproc.py
Owners: @FCP-INDI/developers

:goal_net: Alert missing resource trying to output
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:necktie: Finalize longitudinal (FSL) connections
  CPAC/longitudinal/wf/anat.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:necktie: Output longitudinal template images
  CPAC/resources/cpac_outputs.tsv
Owners: @FCP-INDI/developers

:fire: Remove duplicate output rows
  CPAC/resources/cpac_outputs.tsv
Owners: @FCP-INDI/developers

:goal_net: Fall back on workflow name, then empty string if no "subject_id" in `cfg`
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:bug: Set subject ID for longitudinal workflow
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
Owners: @FCP-INDI/developers

:bug: Pass `get` method through from `Configuration.dict()`
  CPAC/utils/configuration/configuration.py
Owners: @shnizzedy

:heavy_plus_sign: orientation checks for resources added to PipeConfigs
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/engine.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/engine.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/engine.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/engine.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/engine.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers
