Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy

removing resampling of mask from template space to native space
  CPAC/func_preproc/func_preproc.py
Owners: @FCP-INDI/developers

changing the pre-configs adding anatomical_resampled to the template-space masking block
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_ccs-options.yml
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/resources/configs/pipeline_config_fmriprep-options.yml
  CPAC/resources/configs/pipeline_config_monkey-ABCD.yml
  CPAC/resources/configs/pipeline_config_monkey.yml
  CPAC/resources/configs/pipeline_config_regtest-3.yml
  CPAC/resources/configs/pipeline_config_regtest-4.yml
  CPAC/resources/configs/pipeline_config_rodent.yml
Owners: @FCP-INDI/developers

adding template_space_func_masking to the schema
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

adding the template_space_func_masking nodeblock
  CPAC/func_preproc/func_preproc.py
  CPAC/pipeline/cpac_pipeline.py
Owners: @FCP-INDI/developers

:white_check_mark: Switch sequence of contexts
  CPAC/unet/tests/test_torch.py
Owners: @FCP-INDI/developers

:white_check_mark: Update exception expectation for pytest
  CPAC/unet/tests/test_torch.py
Owners: @FCP-INDI/developers

:lock: Set permissions on :octocat: workflows
  .github/workflows/build_C-PAC.yml
  .github/workflows/build_and_test.yml
  .github/workflows/deploy_to_Docker_Hub.yml
  .github/workflows/on_push.yml
  .github/workflows/regression_test_full.yml
  .github/workflows/regression_test_lite.yml
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:bug: :construction_worker: Fix deleted branch name
  .github/workflows/delete_images.yml
Owners: @FCP-INDI/devops

:alembic: Use default GITHUB_TOKEN
  .github/workflows/delete_images.yml
Owners: @FCP-INDI/devops

:bug: Fix package ID call
  .github/scripts/get_package_id.py
Owners: @FCP-INDI/devops

:bug: Fix variant pointer
  .github/workflows/delete_images.yml
Owners: @FCP-INDI/devops

:construction_worker: Continue on error
  .github/workflows/delete_images.yml
Owners: @FCP-INDI/devops

:construction_worker: Update delete package secret
  .github/workflows/delete_images.yml
Owners: @FCP-INDI/devops

:construction_worker: Set OWNER_TYPE
  .github/workflows/delete_images.yml
Owners: @FCP-INDI/devops

:necktie: Cap exported owner type at 4 chars
  .github/workflows/delete_images.yml
Owners: @FCP-INDI/devops

:lock: Give initial script enough permissions for subscripts
  .github/workflows/build_C-PAC.yml
  .github/workflows/build_and_test.yml
  .github/workflows/deploy_to_Docker_Hub.yml
  .github/workflows/on_push.yml
  .github/workflows/regression_test_full.yml
  .github/workflows/regression_test_lite.yml
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

adding quick bold masking with automask
  CPAC/func_preproc/func_motion.py
  CPAC/func_preproc/func_preproc.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
Owners: @FCP-INDI/developers

tweaking the switch to match the new nodeblock
  CPAC/func_preproc/func_preproc.py
Owners: @FCP-INDI/developers

:bug: Update outputs for `apply_blip_to_timeseries_separately`
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

using afni.Automask instead of MaskTool
  CPAC/func_preproc/func_motion.py
Owners: @FCP-INDI/developers

adding to changelog
  CHANGELOG.md
Owners: @FCP-INDI/developers

Reverting few custom changes used for testing
  CPAC/resources/configs/pipeline_config_abcd-options.yml
Owners: @FCP-INDI/developers

:bug: Fix `TypeError: unsupported operand type(s) for -: 'NoneType' and 'NoneType'`
  CPAC/utils/monitoring/draw_gantt_chart.py
Owners: @FCP-INDI/developers

changes made to the resolve confusing namings after jon's review
  CPAC/func_preproc/func_preproc.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

removing schema validation for removed switch
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

:bulb: Remove extra comments
  .codecov.yml
Owners: @FCP-INDI/developers

:wrench: Specify main branch for codecov reporting
  .codecov.yml
Owners: @FCP-INDI/developers

:wrench: Adjust coverage target range
  .codecov.yml
Owners: @FCP-INDI/developers

:wrench: Configure coverage
  pyproject.toml
Owners: @FCP-INDI/developers

:construction_worker: Report coverage to codecov instead of Circle artifact
  .circleci/main.yml
Owners: @FCP-INDI/devops

:memo: Add coverage badge to README
  README.md
Owners: @FCP-INDI/developers

:wrench: :construction_worker: Configure codecov
  .codecov.yml
Owners: @FCP-INDI/developers

:bug: Decode bytestrings before coercing types
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: Modernize test
  CPAC/nuisance/tests/test_utils.py
Owners: @FCP-INDI/developers

:recycle: Skip header when loading TSV into NumPy
  CPAC/nuisance/nuisance.py
  CPAC/nuisance/tests/test_utils.py
  CPAC/nuisance/utils/__init__.py
  CPAC/nuisance/utils/utils.py
Owners: @FCP-INDI/developers

:bug: Restore header to `censors.tsv`
  CPAC/nuisance/utils/utils.py
Owners: @FCP-INDI/developers

replacing 3drefit with 3dwarp in func deoblique
  CPAC/func_preproc/func_preproc.py
  CPAC/utils/utils.py
  dev/docker_data/required_afni_pkgs.txt
Owners: @FCP-INDI/developers, @FCP-INDI/devops

replacing 3drefit with 3dwarp in anat deoblique
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

keeping afni packages
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Owners: @FCP-INDI/devops

upgrading AFNI to latest version
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Owners: @FCP-INDI/devops
