Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

:coffin: Remove unused `get_name` method
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
  CPAC/utils/strategy.py
Owners: @FCP-INDI/developers

:recycle: Move `_check_null` from method to private function
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `initialize_nipype_wf` method into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:coffin: Remove unused `set_json_info` method
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `create_func_datasource` method into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `_config_lookup` method into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `get_raw_label` back into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `json_outdir_ingress` method into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:art: Qualify refs to documented functions.
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/test/test_engine.py
Owners: @FCP-INDI/developers

:art: Remove duplicate imports
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:bug: Fix conflicting class name
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

:art: Standardize docstring format across changes.
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/schema.py
  CPAC/pipeline/test/test_engine.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

:memo: Update CHANGELOG re: #2131
  CHANGELOG.md
Owners: @FCP-INDI/developers

:white_check_mark: Unlink symlink instead of rmtree
  dev/circleci_data/test_external_utils.py
Owners: @FCP-INDI/devops

:bug: Fix memoization
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:pencil2: A little more docstring cleanup
  CPAC/pipeline/engine/nodeblock.py
Owners: @FCP-INDI/developers

:goal_net: Catch and release no-regressors
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

:pencil2: Fix typo (~~"tpyes"~~ → "types")
  CPAC/pipeline/test/test_engine.py
Owners: @FCP-INDI/developers

:art: More docstring updates for ResourcePool refactor
  CPAC/nuisance/nuisance.py
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/schema.py
  CPAC/pipeline/test/test_engine.py
  CPAC/qc/xcp.py
  CPAC/registration/registration.py
  CPAC/utils/interfaces/function/function.py
  CPAC/utils/strategy.py
Owners: @FCP-INDI/developers

:goal_net: Raise exception instead of warn + exit(1)
  CPAC/_entrypoints/run.py
Owners: @FCP-INDI/developers

:bulb: Remove resolved #TODO comment
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:package: Require pandas for build
  pyproject.toml
Owners: @FCP-INDI/developers

:memo: Update type in docstring
  CPAC/utils/configuration/configuration.py
Owners: @shnizzedy

add a loop based on filter order
  CPAC/func_preproc/utils.py
Owners: @FCP-INDI/developers

:bookmark: Update version to 1.7.0
  CPAC/resources/configs/test_configs/data-test_S3-ADHD200_1.yml
  CPAC/resources/configs/test_configs/data-test_S3-ADHD200_no-params.yml
  CPAC/resources/configs/test_configs/data_config_S3_CoRR_5only_mult-scan.yml
  CPAC/resources/configs/test_configs/data_config_S3_CoRR_5only_mult-sess.yml
Owners: @FCP-INDI/developers

Moved anatomical reorient back to its original location right after deoblique, introduced a more specific NHP preconfig (macaque), included the Yerkes template in cpac templates package.
  CPAC/anat_preproc/anat_preproc.py
  CPAC/resources/configs/pipeline_config_nhp-macaque.yml
Owners: @FCP-INDI/developers

acpc uses its own template, instead of resampled template_skull_for_anat
  CPAC/resources/configs/pipeline_config_nhp-macaque.yml
Owners: @FCP-INDI/developers

Fix the merging mess :)
  CPAC/timeseries/timeseries_analysis.py
Owners: @FCP-INDI/developers

set up monitoring websocket
  CPAC/info.py
  CPAC/utils/monitoring.py
  dev/docker_data/run.py
  requirements.txt
Owners: @FCP-INDI/developers, @FCP-INDI/devops

fix args order
  CPAC/utils/monitoring.py
Owners: @FCP-INDI/developers

give some fancy to the message, so the user can see it better
  dev/docker_data/run.py
Owners: @FCP-INDI/devops

parametrize port
  CPAC/utils/monitoring.py
Owners: @FCP-INDI/developers

rebased to develop
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

:white_check_mark: Fix test inputs
  CPAC/func_preproc/tests/test_preproc_connections.py
Owners: @FCP-INDI/developers

:white_check_mark: Use tmp_path for pipeline tests
  CPAC/pipeline/test/test_cpac_pipeline.py
Owners: @FCP-INDI/developers

:white_check_mark: Update doctest for sub_group instead of sub_dict
  CPAC/utils/configuration/configuration.py
Owners: @shnizzedy

:construction_worker: Skip local scripts for CI pre-config
  .pre-commit-config.yaml
Owners: @FCP-INDI/developers

resolving conflict and resbase with develop
  CPAC/nuisance/utils/compcor.py
Owners: @FCP-INDI/developers

nb changed to nib
  CPAC/nuisance/utils/compcor.py
Owners: @FCP-INDI/developers

reshaping removed in input array
  CPAC/nuisance/utils/compcor.py
Owners: @FCP-INDI/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy
