Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

🔧 Turn on xcp-qc file generation in all pre-configs
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_abcd-prep.yml
  CPAC/resources/configs/pipeline_config_benchmark-ANTS.yml
  CPAC/resources/configs/pipeline_config_benchmark-FNIRT.yml
  CPAC/resources/configs/pipeline_config_ccs-options.yml
  CPAC/resources/configs/pipeline_config_default-deprecated.yml
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/resources/configs/pipeline_config_fmriprep-ingress.yml
  CPAC/resources/configs/pipeline_config_fmriprep-options.yml
  CPAC/resources/configs/pipeline_config_monkey-ABCD.yml
  CPAC/resources/configs/pipeline_config_monkey.yml
  CPAC/resources/configs/pipeline_config_ndmg.yml
  CPAC/resources/configs/pipeline_config_regtest-1.yml
  CPAC/resources/configs/pipeline_config_regtest-2.yml
  CPAC/resources/configs/pipeline_config_regtest-3.yml
  CPAC/resources/configs/pipeline_config_regtest-4.yml
  CPAC/resources/configs/pipeline_config_rodent.yml
Owners: @FCP-INDI/developers

:memo: Add "Turned `generate_xcpqc_files` on for all preconfigurations except `blank`" to CHANGELOG
  CHANGELOG.md
Owners: @FCP-INDI/developers

:pencil2: Update `f"space-{sym}template_desc-{orig}_mask"` re: #2182
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:bug: Update nodeblock outputs for "register_symmetric_FSL_anat_to_template" re: 20572de
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

removing TODO from config
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

:alien: :construction_worker: Specifically configure conda channels
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:construction_worker: Use miniforge
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

fixup! :alien: :construction_worker: Specifically configure conda channels
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:rewind: :construction_worker: Revert "Specifically configure conda channels"
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:construction_worker: Use environment file for conda in CI
  .github/configs/datalad-osf_environment.yaml
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:construction_worker: Use `.condarc` file
  .github/configs/datalad-osf.condarc
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

Enable OMP independent of nipype parallelism
  CPAC/utils/utils.py
  dev/docker_data/run.py
Owners: @FCP-INDI/developers, @FCP-INDI/devops

Add the new anat_preproc nodeblock descriptor YAML for SSOT.
  CPAC/anat_preproc/anat_preproc.yml
Owners: @FCP-INDI/developers

initial mermaid operations content for anat_preproc
  CPAC/anat_preproc/anat_preproc.yml
Owners: @FCP-INDI/developers

change .yml to .yaml
  CPAC/anat_preproc/anat_preproc.yaml
Owners: @FCP-INDI/developers

adding specific switch for correct_restore_brain_intensity_abcd nodeblock
  CHANGELOG.md
  CPAC/anat_preproc/anat_preproc.py
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

adding specific switch for restore_t1w_intensity
  CHANGELOG.md
  CPAC/anat_preproc/anat_preproc.py
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

:necktie: Create expected outputs log in longitudinal template flow
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/cpac_runner.py
  CPAC/utils/monitoring/__init__.py
  CPAC/utils/monitoring/custom_logging.py
Owners: @FCP-INDI/developers

:truck: Give logitudinal its own log
  CPAC/pipeline/cpac_runner.py
Owners: @FCP-INDI/developers

:bug: Ensure subject_id in logger
  CPAC/utils/monitoring/custom_logging.py
Owners: @FCP-INDI/developers

Added the func preproc nodeblock descriptor YAML to get this started.
  CPAC/func_preproc/func_preproc.yaml
Owners: @FCP-INDI/developers

Added the distortion correction nodeblock descriptor yaml.
  CPAC/distortion_correction/distortion_correction.yaml
Owners: @FCP-INDI/developers

:bug: Fix `Configuration.__contains__`
  CPAC/utils/configuration/configuration.py
  CPAC/utils/monitoring/custom_logging.py
Owners: @shnizzedy, @FCP-INDI/developers

:recycle: DRY up output key collection for group config
  CPAC/pipeline/cpac_group_runner.py
  CPAC/utils/create_fsl_flame_preset.py
  CPAC/utils/outputs.py
Owners: @FCP-INDI/developers

:memo: Add "Lingering calls to `cpac_outputs.csv` (was changed to `cpac_outputs.tsv` in v1.8.1)." to CHANGELOG
  CHANGELOG.md
Owners: @FCP-INDI/developers

:recycle: Move nested methods to a Mixin
  CPAC/utils/configuration/__init__.py
  CPAC/utils/configuration/configuration.py
  CPAC/utils/configuration/yaml_template.py
Owners: @shnizzedy

:bug: Ensure log dir exists when initializing logger
  CPAC/utils/monitoring/custom_logging.py
Owners: @FCP-INDI/developers

:memo: Type-annotate `Outputs.reference`
  CPAC/utils/outputs.py
Owners: @FCP-INDI/developers

:bug: Reseparate longitudinal `expectedOutputs` from sessions specific
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/cpac_runner.py
  CPAC/pipeline/engine.py
  CPAC/utils/monitoring/custom_logging.py
Owners: @FCP-INDI/developers

:art: Clean up Configuration syntax
  CPAC/utils/configuration/configuration.py
Owners: @shnizzedy

:heavy_minus_sign: Remove urllib3 dependency
  dev/docker_data/fsl/6.0.6.5/fsl-release.yml
  requirements.txt
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:heavy_minus_sign: Remove zipp dependency
  dev/docker_data/fsl/6.0.6.5/fsl-release.yml
  requirements.txt
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:arrow_up: Upgrade setuptools
  dev/docker_data/fsl/6.0.6.5/fsl-release.yml
Owners: @FCP-INDI/devops

updating the changelog
  CHANGELOG.md
Owners: @FCP-INDI/developers

changing ref from template to T1w image
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

adding to changelog
  CHANGELOG.md
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

with precommit
  CHANGELOG.md
Owners: @FCP-INDI/developers

restoring spaces added by prettier extension
  CHANGELOG.md
Owners: @FCP-INDI/developers

adding a bit more info into the changelog
  CHANGELOG.md
Owners: @FCP-INDI/developers

removing master input as data is already aligned to desired orientation
  CPAC/func_preproc/func_preproc.py
Owners: @FCP-INDI/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy
