Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy

Update CPAC/pipeline/utils.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/utils.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/utils.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/utils.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

adding desired-orientation as a config key
  CPAC/pipeline/engine.py
  CPAC/pipeline/schema.py
  CPAC/pipeline/utils.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

reorienting all files before rpool initialization
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

moved orientation check and reorient if necessary to the wf
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

renaming output name correctly
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

handle for read-only template files
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

adding reorient nodes in anat, func, freesurfer and template ingress nodes
  CPAC/anat_preproc/anat_preproc.py
  CPAC/func_preproc/func_preproc.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
  CPAC/utils/datasource.py
Owners: @FCP-INDI/developers

fix a typo in orientation flag for resample
  CPAC/anat_preproc/anat_preproc.py
Owners: @FCP-INDI/developers

updating the orientation flag at other places where resolve_resolution is being used
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/registration/tests/mocks.py
  CPAC/utils/test_mocks.py
Owners: @FCP-INDI/developers

reverting adding reorient node at the very begining and passing orientation set in config in the existing nodes for reorientations
  CPAC/anat_preproc/anat_preproc.py
  CPAC/func_preproc/func_preproc.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

empty
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

updated tests
  CPAC/pipeline/test/test_engine.py
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

updated the changelog
  CHANGELOG.md
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

replaced RPI to take in config value in few more places
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/func_preproc/func_preproc.py
Owners: @FCP-INDI/developers

adding cfg as parameter in lesion_preproc
  CHANGELOG.md
  CPAC/anat_preproc/lesion_preproc.py
Owners: @FCP-INDI/developers

sending only orientation not all cfg
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

fixed positions of args in lesion_preproc and added default RPI
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/registration/registration.py
  CPAC/registration/tests/test_registration.py
Owners: @FCP-INDI/developers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @FCP-INDI/developers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @FCP-INDI/developers

Update CHANGELOG.md
  CHANGELOG.md
Owners: @FCP-INDI/developers

fixing pre-commit suggestions
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

:construction_worker: Skip pre-commit CI
  .github/Dockerfiles/C-PAC.develop-ABCD-HCP-bionic.Dockerfile
  .github/Dockerfiles/C-PAC.develop-fMRIPrep-LTS-xenial.Dockerfile
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  .pre-commit-config.yaml
  Dockerfile
  variant-ABCD-HCP.Dockerfile
  variant-fMRIPrep-LTS.Dockerfile
  variant-lite.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers

Adding utility functions for validating TR in CPAC output bolds
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

Adding validation node for TR of bold outputs
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

minor name correction for node
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Adding validation node before data sink
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

Adding doc-strings and exception handling to utility functions
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

correcting the workflow connection
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

renaming input RawSource to correct value RawSource_bold
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

changing validation input from renamed node nii_out
  CPAC/pipeline/engine.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

changing validation input from renamed node nii_out
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

added to changelog
  CHANGELOG.md
Owners: @FCP-INDI/developers

moving the node declaration inside the if block
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:twisted_rightwards_arrows: Update `autoversioning` script from `develop` branch
  .github/scripts/autoversioning.sh
Owners: @FCP-INDI/devops

:pencil2: Fix repeated `.dev3`
  .github/Dockerfiles/C-PAC.develop-ABCD-HCP-bionic.Dockerfile
  .github/Dockerfiles/C-PAC.develop-fMRIPrep-LTS-xenial.Dockerfile
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  Dockerfile
  variant-ABCD-HCP.Dockerfile
  variant-fMRIPrep-LTS.Dockerfile
  variant-lite.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:twisted_rightwards_arrows: Update `autoversioning` script from `develop` branch
  .github/scripts/autoversioning.sh
Owners: @FCP-INDI/devops

:construction_worker: Skip pre-commit CI
  .github/Dockerfiles/C-PAC.develop-ABCD-HCP-bionic.Dockerfile
  .github/Dockerfiles/C-PAC.develop-fMRIPrep-LTS-xenial.Dockerfile
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  .pre-commit-config.yaml
  Dockerfile
  variant-ABCD-HCP.Dockerfile
  variant-fMRIPrep-LTS.Dockerfile
  variant-lite.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers
