Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy

Update CPAC/registration/registration.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

revert back adding error handler dir
  CPAC/error_handler/__init__.py
  CPAC/error_handler/exceptions.py
Owners: @FCP-INDI/developers

adding to changelog
  CHANGELOG.md
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

fixing test for overwrite trasnsform
  CPAC/pipeline/test/test_schema_validation.py
Owners: @FCP-INDI/developers

fixing test for overwrite trasnsform
  CPAC/pipeline/test/test_schema_validation.py
Owners: @FCP-INDI/developers

:construction_worker: Add test mode postional argument for integration test launch command
  .github/workflows/regtest.yaml
Owners: @FCP-INDI/devops

:alien: Update Dockerfile `LABEL`s re: deprecated `LegacyKeyValueFormat`
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
  .github/Dockerfiles/ANTs.2.4.3-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  .github/Dockerfiles/FSL.6.0.6.5-jammy.Dockerfile
  .github/Dockerfiles/FSL.data.Dockerfile
  .github/Dockerfiles/FreeSurfer.6.0.0-min.neurodocker-jammy.Dockerfile
  .github/Dockerfiles/ICA-AROMA.0.4.4-beta-jammy.Dockerfile
  .github/Dockerfiles/Ubuntu.jammy-non-free.Dockerfile
  .github/Dockerfiles/base-lite.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  .github/Dockerfiles/c3d.1.0.0-jammy.Dockerfile
  .github/Dockerfiles/connectome-workbench.1.5.0.neurodebian-jammy.Dockerfile
  .github/Dockerfiles/neuroparc.1.0-human-bionic.Dockerfile
  Dockerfile
  variant-lite.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers

Update CPAC/pipeline/schema.py
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/test/test_schema_validation.py
  CPAC/pipeline/test/test_schema_validation.py
Owners: @FCP-INDI/developers

Add nodeblock docs CI
  .github/workflows/nodeblock_docs.yml
  scripts/nodeblock_docs.py
Owners: @FCP-INDI/devops, @FCP-INDI/developers

Fix small typos
  .github/workflows/nodeblock_docs.yml
Owners: @FCP-INDI/devops

Small fix
  .github/workflows/nodeblock_docs.yml
Owners: @FCP-INDI/devops

add config extractor
  .github/scripts/config_extractor.py
  .github/scripts/nodeblock_docs.py
  .github/workflows/nodeblock_docs.yml
Owners: @FCP-INDI/devops

move to correct scripts folder
  .github/scripts/nodeblock_docs.py
  scripts/config_extractor.py
Owners: @FCP-INDI/devops, @FCP-INDI/developers

path update
  scripts/config_extractor.py
Owners: @FCP-INDI/developers

add utils functionality
  scripts/config_extractor.py
Owners: @FCP-INDI/developers

Cleanup; Small fixes
  scripts/config_extractor.py
Owners: @FCP-INDI/developers

Remove validation to move to schema
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

Moved Censoring "method" input validation to the schema as per @shnizzedy's suggestion.
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

and now with noverify
  CPAC/func_preproc/func_preproc.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:construction_worker: :loud_sound: Log `git config --global url`
  .circleci/main.yml
Owners: @FCP-INDI/devops

:construction_worker: :whale: :wrench: :octocat: :lock: Don't force SSH when `git clone`ing test data in test image container
  .circleci/main.yml
  dev/circleci_data/test_in_image.sh
Owners: @FCP-INDI/devops

:lock: :alien: Remove compromized GitHub Action
  .github/workflows/on_push.yml
Owners: @FCP-INDI/devops

:memo: Document CI process change
  CHANGELOG.md
  CONTRIBUTING.md
Owners: @FCP-INDI/developers

:truck: Move global fixtures to own file
  CPAC/_global_fixtures.py
  dev/circleci_data/conftest.py
Owners: @FCP-INDI/developers, @FCP-INDI/devops

:white_check_mark: Adjust paths for updated test
  dev/circleci_data/data_settings_bids_examples_ds051_default_BIDS.yml
  dev/circleci_data/test_external_utils.py
Owners: @FCP-INDI/devops

✨Introduced desc-head_bold and changed sbref generating nodeblock
  CHANGELOG.md
  CPAC/func_preproc/func_preproc.py
  CPAC/pipeline/schema.py
  CPAC/registration/registration.py
  CPAC/resources/configs/pipeline_config_blank.yml
Owners: @FCP-INDI/developers

precommit fixes
  CHANGELOG.md
  CPAC/pipeline/schema.py
  CPAC/registration/registration.py
  CPAC/resources/configs/pipeline_config_blank.yml
Owners: @FCP-INDI/developers

precommit changes
  CPAC/pipeline/cpac_pipeline.py
Owners: @FCP-INDI/developers

making mask_sbref default off
  CPAC/resources/configs/pipeline_config_blank.yml
Owners: @FCP-INDI/developers

correcting the switch for mask_sbref
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

adding changes suggested
  CHANGELOG.md
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/schema.py
  CPAC/registration/registration.py
  CPAC/resources/configs/pipeline_config_abcd-options.yml
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

fixing typos
  CPAC/func_preproc/func_preproc.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

with precommit
  CPAC/anat_preproc/utils.py
  CPAC/pipeline/engine.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

correcting the function doc-string
  CPAC/anat_preproc/utils.py
Owners: @FCP-INDI/developers

Update CPAC/pipeline/engine.py
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:pencil2: Put `tj-actions/changed-files` in correct place in CHANGELOG
  CHANGELOG.md
Owners: @FCP-INDI/developers

:goal_net: Restore raising duplicate Node errors
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:recycle: Add an identity interface for "reorient" to avoid duplicate cross-graph node
  CPAC/longitudinal/wf/anat.py
Owners: @FCP-INDI/developers

:recycle: Just use `longitudinal-template_space-longitudinal_desc-head_T1w` instead of `reorient`
  CPAC/longitudinal/wf/anat.py
  CPAC/registration/longitudinal.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers
