Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

[rebuild AFNI.23.3.09-jammy] [rebuild lite]
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
  .github/Dockerfiles/base-lite.Dockerfile
  dev/docker_data/required_afni_pkgs.txt
Owners: @FCP-INDI/devops

afni
  .github/Dockerfiles/AFNI.25.1.08-jammy.Dockerfile
Owners: @FCP-INDI/devops

:pencil2: `_`, not `.`
  dev/docker_data/checksum/AFNI.23.3.09.sha384
Owners: @FCP-INDI/devops

:rotating_light: Fix casing
  .github/Dockerfiles/AFNI.23.3.09-jammy.Dockerfile
Owners: @FCP-INDI/devops

with precommit changes
  CPAC/anat_preproc/anat_preproc.py
  CPAC/func_preproc/func_preproc.py
  CPAC/func_preproc/utils.py
  CPAC/pipeline/schema.py
  CPAC/resources/configs/pipeline_config_default.yml
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

rebase with pre-config
  CHANGELOG.md
  CPAC/func_preproc/func_preproc.py
  CPAC/resources/configs/pipeline_config_blank.yml
  CPAC/resources/configs/pipeline_config_default.yml
Owners: @FCP-INDI/developers

Update CPAC/utils/utils.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

removing unused function
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

Restore sink_native_transforms changelog line
  CHANGELOG.md
Owners: @FCP-INDI/developers

:test_tube: Add test for default-type bandpass filter
  CPAC/nuisance/nuisance.py
  CPAC/nuisance/tests/test_bandpass.py
  CPAC/pipeline/test/test_engine.py
  CPAC/utils/test_mocks.py
  CPAC/utils/tests/osf.py
Owners: @FCP-INDI/developers

:necktie: Skip test with OSF data if no API key
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

:white_check_mark: Set wd for test wf
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

:truck: Move `test_ants_registration_connector` → `test_registration_connectors`
  CPAC/registration/tests/test_registration_connectors.py
Owners: @FCP-INDI/developers

:truck: Move `test_fsl_registration_connector` → `test_registration_connectors`
  CPAC/registration/tests/test_registration_connectors.py
Owners: @FCP-INDI/developers

:technologist: Clarify estimate vs. correction node names
  CPAC/func_preproc/func_motion.py
Owners: @FCP-INDI/developers

fixup! Merge branch 'develop' into datetime-none
  CPAC/utils/tests/test_utils.py
Owners: @FCP-INDI/developers

Update CPAC/nuisance/tests/test_bandpass.py
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

:construction_worker: Pass `$OSF_DATA` to docker
  .circleci/main.yml
Owners: @FCP-INDI/devops

fixing the tests
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

check none before other
  CPAC/nuisance/bandpass.py
Owners: @FCP-INDI/developers

:bulb: Update comments re: PR
  CHANGELOG.md
  CPAC/nuisance/tests/test_bandpass.py
Owners: @FCP-INDI/developers

:alien: Manually install deprecated tarfile into backports namespace
  .github/Dockerfiles/C-PAC.develop-jammy.Dockerfile
  .github/Dockerfiles/C-PAC.develop-lite-jammy.Dockerfile
  Dockerfile
  variant-lite.Dockerfile
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:alien: Link `libcrypt.so.2` for `csh` for FreeSurfer
  .github/Dockerfiles/base-standard.Dockerfile
Owners: @FCP-INDI/devops

:art: Address style warnings
  .github/Dockerfiles/base-standard.Dockerfile
Owners: @FCP-INDI/devops

:package: Explicitly set `ANTSPATH` in full (with-FreeSurfer) image
  .github/Dockerfiles/base-lite.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  CPAC/seg_preproc/tests/test_utils.py
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:memo: Add `$ANTSPATH` to CHANGELOG
  CHANGELOG.md
Owners: @FCP-INDI/developers

:pencil2: Correct method call name
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:bricks: Add `__init__` for seg tests
  CPAC/seg_preproc/tests/__init__.py
Owners: @FCP-INDI/developers

:goal_net: Handle more datetime edge cases in logging
  CPAC/utils/monitoring/draw_gantt_chart.py
  CPAC/utils/monitoring/monitoring.py
Owners: @FCP-INDI/developers

:goal_net: Handle bytestring in phase encoding metadata
  CPAC/utils/datasource.py
  CPAC/utils/tests/test_datasource.py
Owners: @FCP-INDI/developers

:white_check_mark: Refactor `test_match_epi_fmaps`
  CPAC/utils/test_resources.py
  CPAC/utils/tests/test_datasource.py
Owners: @FCP-INDI/developers

:pencil2: Remove duplicate library link
  .github/Dockerfiles/base-standard.Dockerfile
Owners: @FCP-INDI/devops

:goal_net: Handle more datetime edge cases in logging
  CPAC/utils/monitoring/draw_gantt_chart.py
  CPAC/utils/monitoring/monitoring.py
Owners: @FCP-INDI/developers

:rewind: Remove debugging code
  CPAC/utils/monitoring/draw_gantt_chart.py
Owners: @FCP-INDI/developers

:rewind: Remove debugging code
  CPAC/utils/monitoring/draw_gantt_chart.py
Owners: @FCP-INDI/developers

:art: DRY `match_epi_fmaps_function_node`
  CPAC/distortion_correction/distortion_correction.py
  CPAC/utils/datasource.py
  CPAC/utils/tests/test_datasource.py
Owners: @FCP-INDI/developers

:pencil2: Quote typechecking type
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:pencil2: Quote typechecking type
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:package: Install `bc` in `lite` image for `fsl_prepare_fieldmap`
  .github/Dockerfiles/base-lite.Dockerfile
  .github/Dockerfiles/base-standard.Dockerfile
  CHANGELOG.md
  CPAC/surface/tests/test_installation.py
Owners: @FCP-INDI/devops, @FCP-INDI/developers

:white_check_mark: Add direct test for better coverage
  CPAC/utils/tests/test_datasource.py
Owners: @FCP-INDI/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy
