Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy

:recycle: Move `initialize_nipype_wf` method into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:coffin: Remove unused function `run_node_blocks`
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
Owners: @FCP-INDI/developers

:recycle: Replace calls to `grab_tiered_dct` with direct config lookup
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `_check_null` from method to private function
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:construction_worker: Pre-clone `bids-examples`
  .circleci/main.yml
Owners: @FCP-INDI/devops

:pencil2: Fix typo (~~"tpyes"~~ → "types")
  CPAC/pipeline/test/test_engine.py
Owners: @FCP-INDI/developers

:white_check_mark: Unlink symlink instead of rmtree
  dev/circleci_data/test_external_utils.py
Owners: @FCP-INDI/devops

:memo: Update CHANGELOG re: #2131
  CHANGELOG.md
Owners: @FCP-INDI/developers

:art: Standardize docstring format across changes.
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/schema.py
  CPAC/pipeline/test/test_engine.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

:bug: Fix conflicting class name
  CPAC/pipeline/schema.py
Owners: @FCP-INDI/developers

:art: More docstring updates for ResourcePool refactor
  CPAC/nuisance/nuisance.py
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/schema.py
  CPAC/pipeline/test/test_engine.py
  CPAC/qc/xcp.py
  CPAC/registration/registration.py
  CPAC/utils/interfaces/function/function.py
  CPAC/utils/strategy.py
Owners: @FCP-INDI/developers

reconfigured Resource class and added get_resource() to the ResourcePool class
  CPAC/_entrypoints/run.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/engine/resource_pool.py
Owners: @FCP-INDI/developers

:bug: Fix memoization
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:pencil2: A little more docstring cleanup
  CPAC/pipeline/engine/nodeblock.py
Owners: @FCP-INDI/developers

:art: Qualify refs to documented functions.
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/test/test_engine.py
Owners: @FCP-INDI/developers

:art: Remove duplicate imports
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:goal_net: Catch and release no-regressors
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

:children_crossing: Disable echo of each log statement
  CPAC/__main__.py
  CPAC/cwas/tests/test_cwas.py
  CPAC/cwas/tests/test_pipeline_cwas.py
  CPAC/image_utils/tests/test_smooth.py
  CPAC/nuisance/tests/test_utils.py
  CPAC/pipeline/test/test_cpac_group_runner.py
  CPAC/utils/build_data_config.py
  CPAC/utils/monitoring/custom_logging.py
  CPAC/utils/ndmg_utils.py
  CPAC/utils/tests/test_bids_utils.py
  CPAC/utils/tests/test_symlinks.py
  CPAC/vmhc/tests/test_vmhc.py
Owners: @FCP-INDI/developers

added upper/lower case insensitive check for the entity values
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/engine/resource_pool.py
Owners: @FCP-INDI/developers

:bug: bugfix longitudinal pipeline
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/registration/registration.py
  CPAC/seg_preproc/seg_preproc.py
Owners: @FCP-INDI/developers

:white_check_mark: Don't assume first handler is FileHandler
  CPAC/pipeline/check_outputs.py
  CPAC/utils/monitoring/custom_logging.py
Owners: @FCP-INDI/developers

:necktie: Change `SpikeRegression` from kill-censoring to orthogonal projection
  CHANGELOG.md
  CPAC/nuisance/nuisance.py
Owners: @FCP-INDI/developers

:necktie: Count MockHandler as FileHandler
  CPAC/utils/monitoring/custom_logging.py
Owners: @FCP-INDI/developers

:truck: Move engine resources to own submodule
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:construction: Split ResourcePool into three classes with docstrings
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:white_check_mark: Move BIDS examples to a fixture
  CPAC/conftest.py
  dev/circleci_data/conftest.py
  dev/circleci_data/test_external_utils.py
Owners: @FCP-INDI/developers, @FCP-INDI/devops

:construction: WIP :recycle: Move `ResourcePool` init from functions to methods
  CPAC/conftest.py
  CPAC/func_preproc/func_ingress.py
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
  CPAC/utils/bids_utils.py
  CPAC/utils/datasource.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:white_check_mark: Skip NHP configs if no torch installed
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

:recycle: Fold `initiate_rpool` into `ResourcePool.__init__`
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/test/test_engine.py
  CPAC/utils/configuration/configuration.py
Owners: @FCP-INDI/developers, @shnizzedy

:white_check_mark: Restore engine unit tests
  CPAC/pipeline/test/test_engine.py
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

:recycle: Finish moving `create_func_datasource` from func to method
  CPAC/func_preproc/func_ingress.py
Owners: @FCP-INDI/developers

:construction_worker: Replace non-`\w`-non-dot characters with hyphens
  .circleci/main.yml
  .github/workflows/build_C-PAC.yml
  .github/workflows/regression_test_full.yml
  .github/workflows/regression_test_lite.yml
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

:recycle: EmptyConfiguration → Preconfiguration('blank')
  CPAC/pipeline/engine/resource.py
  CPAC/utils/configuration/configuration.py
Owners: @FCP-INDI/developers, @shnizzedy

:pencil2: Import Path for signature
  CPAC/utils/datasource.py
Owners: @FCP-INDI/developers

:recycle: Pass `part_id` through to `DataPaths`
  CPAC/pipeline/engine/resource.py
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

:art: :technologist: Clarify typing
  CPAC/pipeline/engine/resource.py
  CPAC/utils/typing.py
Owners: @FCP-INDI/developers

:white_check_mark: Use abspath for BIDS-examples
  .ruff.toml
  CPAC/conftest.py
  dev/circleci_data/conftest.py
Owners: @FCP-INDI/developers, @FCP-INDI/devops

:construction: :recycle: Continue updating calls to `ResourcePool` methods
  CPAC/func_preproc/func_ingress.py
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:construction: WIP :recycle: Fix `StratPool.__init__`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:pencil2: Pipe inside quotation marks
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers
