Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy

:recycle: Move `StratDict().rpool[json]` to `StratDict().json`
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Dedupe loop through `self.node_blocks.items()`
  CPAC/pipeline/engine/engine.py
Owners: @FCP-INDI/developers

:bug: Remove extra curly braces
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:white_check_mark: Update test for new `Resource` class
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

:bug: Fix auto-`quick_single`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:white_check_mark: Check if `bids-examples` is empty before moving on
  CPAC/conftest.py
Owners: @FCP-INDI/developers

:twisted_rightwards_arrow: Merge `develop` into `engine/(th)r(e)esources`
  .ruff.toml
  CPAC/alff/alff.py
  CPAC/alff/utils.py
  CPAC/anat_preproc/anat_preproc.py
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/anat_preproc/utils.py
  CPAC/distortion_correction/distortion_correction.py
  CPAC/distortion_correction/utils.py
  CPAC/easy_thresh/easy_thresh.py
  CPAC/func_preproc/func_motion.py
  CPAC/func_preproc/func_preproc.py
  CPAC/group_analysis/group_analysis.py
  CPAC/longitudinal_pipeline/longitudinal_preproc.py
  CPAC/median_angle/median_angle.py
  CPAC/nuisance/nuisance.py
  CPAC/nuisance/utils/utils.py
  CPAC/pipeline/engine/engine.py
  CPAC/randomise/randomise.py
  CPAC/registration/output_func_to_standard.py
  CPAC/registration/registration.py
  CPAC/reho/reho.py
  CPAC/sca/sca.py
  CPAC/scrubbing/scrubbing.py
  CPAC/seg_preproc/seg_preproc.py
  CPAC/surface/surf_preproc.py
  CPAC/timeseries/timeseries_analysis.py
  CPAC/utils/interfaces/__init__.py
  CPAC/utils/interfaces/function/seg_preproc.py
  CPAC/utils/tests/old_functions.py
  CPAC/utils/tests/test_datasource.py
  CPAC/utils/tests/test_utils.py
  CPAC/utils/utils.py
  requirements.txt
Owners: @FCP-INDI/developers

:art: Type `connect_pipeline`
  CPAC/func_preproc/tests/test_preproc_connections.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/nodeblock.py
Owners: @FCP-INDI/developers

new ResourcePool structure
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine.py
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/engine/resource_pool.py
  CPAC/pipeline/engine/strat_pool.py
Owners: @FCP-INDI/developers

ResourcePool modified as per nee specs
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/nuisance/nuisance.py
  CPAC/utils/configuration/configuration.py
  CPAC/utils/strategy.py
Owners: @FCP-INDI/developers, @shnizzedy

fixing sub_dict/sub_group variable names after branch update
  CPAC/utils/configuration/configuration.py
Owners: @shnizzedy

:zap: Replace some `deepcopy` calls
  CPAC/func_preproc/tests/test_preproc_connections.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Typehint `StratPool.append_name`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Clarify `ResourcePool.gather_pipes`
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/test/test_engine.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: Move `connect_pipeline` from standalone function to `ResourcePool` method
  CPAC/func_preproc/tests/test_preproc_connections.py
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/test/test_engine.py
Owners: @FCP-INDI/developers

:coffin: Remove `_Pool.node_data` method
  CPAC/distortion_correction/distortion_correction.py
  CPAC/func_preproc/func_motion.py
  CPAC/pipeline/engine/resource.py
  CPAC/qc/xcp.py
  CPAC/registration/registration.py
Owners: @FCP-INDI/developers

:construction_worker: Livelog pytest
  .circleci/main.yml
  dev/circleci_data/test_in_image.sh
Owners: @FCP-INDI/devops

:recycle: Move `post_process` method back into `ResourcePool`
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `filter_name` method into `StratPool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `filtered_movement` property into `StratPool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `derivative_xfm` back into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:coffin: Remove unused `flatten_prov` method
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `get_resource_strats_from_prov` back into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:coffin: Remove unused `generate_prov_list` method
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `get_cpac_provenance` and `regressor_dct` into `StratPool`
  CPAC/nuisance/nuisance.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Split `get_json` across `ResourcePool` and `StratPool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:coffin: Remove unused `get_pipe_idxs` method
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:coffin: Remove unused `update_resource` method
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `copy_resource` method into `StratPool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `get_json_info` back into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:coffin: Remove unused `set_json_info` method
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:coffin: Remove unused `get_strat_info` method
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `get_raw_label` back into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:coffin: Remove unused `get_entire_rpool` method
  CPAC/pipeline/engine/resource.py
  CPAC/utils/strategy.py
Owners: @FCP-INDI/developers

:coffin: Remove unused `wrap_block` function
  CPAC/distortion_correction/distortion_correction.py
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `_get_pipe_number` back into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `create_func_datasource` method into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:coffin: Remove unused `get_name` method
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
  CPAC/utils/strategy.py
Owners: @FCP-INDI/developers

:recycle: Move `_config_lookup` method into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:recycle: Move `json_outdir_ingress` method into `ResourcePool`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers
