Repository FCP-INDI/C-PAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FCP-INDI/developers, @FCP-INDI/devops, @shnizzedy

:pencil2: Fix TR capitalization
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:bug: Tell Nipype to import typehint type
  CPAC/alff/utils.py
Owners: @FCP-INDI/developers

:construction: WIP :bug: Fix `get_scan_params`
  CPAC/utils/tests/test_utils.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:bug: Fix import (probably merge error)
  CPAC/pipeline/engine.py
Owners: @FCP-INDI/developers

:bug: Use C-PAC Function node
  CPAC/alff/alff.py
Owners: @FCP-INDI/developers

:bug: Use C-PAC Function node
  CPAC/alff/alff.py
Owners: @FCP-INDI/developers

:package: Init `Function`
  CPAC/utils/interfaces/__init__.py
Owners: @FCP-INDI/developers

:package: Init `Function`
  CPAC/utils/interfaces/__init__.py
Owners: @FCP-INDI/developers

:art: Remove unnecessary initializations
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:art: Remove unnecessary initializations
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: Exclusively use custom `Function` Nodes + :rotating_light: Lint
  CPAC/anat_preproc/anat_preproc.py
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/anat_preproc/utils.py
  CPAC/distortion_correction/distortion_correction.py
  CPAC/distortion_correction/utils.py
  CPAC/easy_thresh/easy_thresh.py
  CPAC/func_preproc/func_motion.py
  CPAC/func_preproc/func_preproc.py
  CPAC/group_analysis/group_analysis.py
  CPAC/longitudinal_pipeline/longitudinal_preproc.py
  CPAC/median_angle/median_angle.py
  CPAC/nuisance/nuisance.py
  CPAC/nuisance/utils/utils.py
  CPAC/randomise/randomise.py
  CPAC/registration/output_func_to_standard.py
  CPAC/registration/registration.py
  CPAC/reho/reho.py
  CPAC/sca/sca.py
  CPAC/scrubbing/scrubbing.py
  CPAC/seg_preproc/seg_preproc.py
  CPAC/surface/surf_preproc.py
  CPAC/timeseries/timeseries_analysis.py
  CPAC/utils/interfaces/function/seg_preproc.py
  CPAC/utils/tests/test_datasource.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:recycle: Exclusively use custom `Function` Nodes + :rotating_light: Lint
  CPAC/anat_preproc/anat_preproc.py
  CPAC/anat_preproc/lesion_preproc.py
  CPAC/anat_preproc/utils.py
  CPAC/distortion_correction/distortion_correction.py
  CPAC/distortion_correction/utils.py
  CPAC/easy_thresh/easy_thresh.py
  CPAC/func_preproc/func_motion.py
  CPAC/func_preproc/func_preproc.py
  CPAC/group_analysis/group_analysis.py
  CPAC/longitudinal_pipeline/longitudinal_preproc.py
  CPAC/median_angle/median_angle.py
  CPAC/nuisance/nuisance.py
  CPAC/nuisance/utils/utils.py
  CPAC/randomise/randomise.py
  CPAC/registration/output_func_to_standard.py
  CPAC/registration/registration.py
  CPAC/reho/reho.py
  CPAC/sca/sca.py
  CPAC/scrubbing/scrubbing.py
  CPAC/seg_preproc/seg_preproc.py
  CPAC/surface/surf_preproc.py
  CPAC/timeseries/timeseries_analysis.py
  CPAC/utils/interfaces/function/seg_preproc.py
  CPAC/utils/tests/test_datasource.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:bug: Fix circular import
  CPAC/utils/interfaces/function/seg_preproc.py
Owners: @FCP-INDI/developers

:bug: Fix circular import
  CPAC/utils/interfaces/function/seg_preproc.py
Owners: @FCP-INDI/developers

:truck: Move engine resources to own submodule
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:construction: Split ResourcePool into three classes with docstrings
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:pencil2: Fix f-string missing `f`
  CPAC/distortion_correction/distortion_correction.py
Owners: @FCP-INDI/developers

:white_check_mark: Move BIDS examples to a fixture
  CPAC/conftest.py
  dev/circleci_data/conftest.py
  dev/circleci_data/test_external_utils.py
Owners: @FCP-INDI/developers, @FCP-INDI/devops

:construction: WIP :recycle: Move `ResourcePool` init from functions to methods
  CPAC/conftest.py
  CPAC/func_preproc/func_ingress.py
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
  CPAC/utils/bids_utils.py
  CPAC/utils/datasource.py
  CPAC/utils/utils.py
Owners: @FCP-INDI/developers

:white_check_mark: Restore engine unit tests
  CPAC/pipeline/test/test_engine.py
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

:construction_worker: Replace non-`\w`-non-dot characters with hyphens
  .circleci/main.yml
  .github/workflows/build_C-PAC.yml
  .github/workflows/regression_test_full.yml
  .github/workflows/regression_test_lite.yml
  .github/workflows/smoke_test_participant.yml
Owners: @FCP-INDI/devops

Add bids2table package to container
  CPAC/info.py
  requirements.txt
Owners: @FCP-INDI/developers

:recycle: Fold `initiate_rpool` into `ResourcePool.__init__`
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/pipeline/cpac_pipeline.py
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/test/test_engine.py
  CPAC/utils/configuration/configuration.py
Owners: @FCP-INDI/developers, @shnizzedy

:recycle: Finish moving `create_func_datasource` from func to method
  CPAC/func_preproc/func_ingress.py
Owners: @FCP-INDI/developers

:recycle: EmptyConfiguration → Preconfiguration('blank')
  CPAC/pipeline/engine/resource.py
  CPAC/utils/configuration/configuration.py
Owners: @FCP-INDI/developers, @shnizzedy

:pencil2: Import Path for signature
  CPAC/utils/datasource.py
Owners: @FCP-INDI/developers

:recycle: Pass `part_id` through to `DataPaths`
  CPAC/pipeline/engine/resource.py
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

:white_check_mark: Skip NHP configs if no torch installed
  CPAC/resources/tests/test_templates.py
Owners: @FCP-INDI/developers

:white_check_mark: Use abspath for BIDS-examples
  .ruff.toml
  CPAC/conftest.py
  dev/circleci_data/conftest.py
Owners: @FCP-INDI/developers, @FCP-INDI/devops

fix merge error
  CPAC/utils/configuration/configuration.py
Owners: @shnizzedy

:construction: :recycle: Continue updating calls to `ResourcePool` methods
  CPAC/func_preproc/func_ingress.py
  CPAC/pipeline/engine/__init__.py
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:construction: WIP :recycle: Fix `StratPool.__init__`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:art: :technologist: Clarify typing
  CPAC/pipeline/engine/resource.py
  CPAC/utils/typing.py
Owners: @FCP-INDI/developers

:white_check_mark: `pytest.Cache.makedir` → `pytest.Cache.mkdir`
  CPAC/conftest.py
Owners: @FCP-INDI/developers

:pencil2: Pipe inside quotation marks
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:art: Type `ResourcePool.get_strats`
  CPAC/alff/alff.py
  CPAC/anat_preproc/anat_preproc.py
  CPAC/distortion_correction/distortion_correction.py
  CPAC/func_preproc/func_motion.py
  CPAC/func_preproc/func_preproc.py
  CPAC/longitudinal_pipeline/longitudinal_workflow.py
  CPAC/network_centrality/pipeline.py
  CPAC/nuisance/nuisance.py
  CPAC/pipeline/engine/engine.py
  CPAC/pipeline/engine/nodeblock.py
  CPAC/pipeline/engine/resource.py
  CPAC/qc/pipeline.py
  CPAC/qc/xcp.py
  CPAC/registration/registration.py
  CPAC/reho/reho.py
  CPAC/sca/sca.py
  CPAC/seg_preproc/seg_preproc.py
  CPAC/surface/surf_preproc.py
  CPAC/timeseries/timeseries_analysis.py
  CPAC/utils/tests/test_utils.py
  CPAC/utils/typing.py
  CPAC/vmhc/vmhc.py
Owners: @FCP-INDI/developers

:white_check_mark: Remove dir instead of file
  CPAC/utils/tests/test_utils.py
  dev/circleci_data/test_external_utils.py
Owners: @FCP-INDI/developers, @FCP-INDI/devops

:technologist: Add `__repr__` method to `Resource`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

:bug: Fix circular import
  CPAC/pipeline/engine/resource.py
  CPAC/pipeline/utils.py
Owners: @FCP-INDI/developers

:art: Define `_Pool.__contains__` and `Resource.__contains__`
  CPAC/pipeline/engine/resource.py
Owners: @FCP-INDI/developers

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @FCP-INDI/developers will be requested for
# review when someone opens a pull request.
*                          @FCP-INDI/developers

/.circleci/                @FCP-INDI/devops
/dev/                      @FCP-INDI/devops
/.github/                  @FCP-INDI/devops

/CPAC/utils/configuration/ @shnizzedy
